<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <!-- Debug-only Google Maps API key. This file is local-only for testing. -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDoMdUvvKsGW95CrI1uXcjaN6l3c__g_m0" />
    </application>
</manifest>

